<div class="divider"></div>
<div class="section orange darken-2 white-text" style="margin-bottom: -20px">
	<h5 class="center">Check out active schedules for <%= link_to "Cebu", cebu_schedules_path, class: "white-text waves-effect teal btn" %> and <%= link_to "Manila", manila_schedules_path, class: "white-text waves-effect teal btn" %>!</h5> 
</div>