<% provide(:title, "Gallery |")%>
<%= render "layouts/navbar_user" %>
	<div class="container"> 
		<h3 class="center blue-text">Nihongo Class Gallery</h3> 
	    <div class="row">
	      <% @galleries.each do |gallery| %>

	        <div class="col s12 m4">
	          <div class="card">
	            <div class="card-image">
	              <%= image_tag gallery.image.url(:large)%> 
	            </div>   
	                <span style="padding:8px;"><%= gallery.caption %></span>
	          </div>
	        </div> 
	        
	      <% end %>
	    </div>
	</div>
<%= render "layouts/footer_user" %>