<% provide(:title, "Payment Terms |")%>
<%= render "layouts/navbar_user" %>
	<div class="container">
		<h4 class="blue-text">Payment Terms</h4>
		<% @payment_terms.each do |term| %>
			<%= raw term.content %>
		<% end %>
	</div>
<%= render "partials/check" %>
<%= render "layouts/footer_user" %>