
<div class="section">
	<h4 class="center blue-text"></h4>
</div> 


<div class="section">
	<div class="container"> 
		<div class="card teal"> 
			<div class="card-content">
				<p class="center white-text card-title"><i class="material-icons large">beenhere</i><br>Reservation request sent successfully.</p>  
				<div class="card white">
					<div class="card-content">
						<p class="card-title red-text"><strong>Note: </strong>Please check your email for more information about the payment.</p> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

<p class="center grey-text">
	Study Nihongo <br>
	&copy;Jellyfish Education Consultancy Philippines Inc.<br>
	All Rights Reserved 201
</p>