<%= render "layouts/navbar_user" %>
<div class="section">
	<div class="container"> 
		<div class="card-panel center"> 
			<i class="material-icons large red-text">email</i>
			<h5 class="blue-text">Please check your email for more information about the payment.</h5>
		</div>
	</div>
</div>
<%= render "layouts/footer_user" %>