 <% provide(:title, "Articles |") %>
 <%= render "layouts/navbar_user" %>
 <div class="container">
 	<h4 class="blue-text center">Nihongo Class - Articles</h4>
 	<div class="divider"></div>
 	<div class="row">
 		
		<% @articles.each do |article| %>
			<div class="col s12 m4 l4">
	 			<div class="card-panel green darken-1 white-text center">
			 		<h4><%= link_to article.title.upcase, "articles/"+article.slug, class: "white-text" %></h4>
			 		<div class="divider"></div>
			 		<p>Posted: <%= time_ago_in_words(article.created_at)%> ago</p>
			 	</div>
			</div>
		<% end %>
 		
 	</div>
 </div>
 <%= render "layouts/footer_user" %>