<% provide(:title, "Edit Gallery |") %>
<%= render "layouts/navbar_admin" %>
		
<div class="container">
	<section>
		<h1>Editing Gallery</h1>

		<%= render 'form' %>

		<%= link_to 'Show', {controller: "galleries", action: "show", id: @gallery.id } %> |
		<%= link_to 'Back', galleries_path %>
	</section>
</div>
		
