<% provide(:title, "New Gallery |") %>
<%= render "layouts/navbar_admin" %>
		
<div class="container">
	<section>
		<h1>New Gallery</h1>

		<%= render 'form' %>

		<%= link_to 'Back', galleries_path %>

	</section>
</div>